[Unit]
Description=NEEY Balancer MQTT Service
After=network.target bluetooth.service mosquitto.service

[Service]
Type=simple
#User=pi
User=root
Group=root
WorkingDirectory=/var/log
ExecStart=/usr/bin/python3 /usr/bin/neey_mqtt_kimi.py
#cleanup blutooth when service is stopped
ExecStopPost=/usr/bin/hciconfig hci0 down
ExecStopPost=/bin/sleep 1
ExecStopPost=/usr/bin/hciconfig hci0 up

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
